<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fontawesome5/css/all.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="flex justify-center items-center flex-col overflow-x-hidden w-full">
    <header class="w-full h-[100px]  flex justify-around items-center fixed left-0 top-0 right-0 z-30  bg-white sm:justify-between"
        style="box-shadow: 0px 0px 10px rgba(0,0,0,0.7)">
        <div class="flex justify-center items-center w-[40%] h-full  ">
            <div class="flex flex-col justify-start items-center relative lg:hidden">
                <i class="fas fa-bars text-[40px] mr-[35px] ml-[120px] cursor-pointer toggle"></i>
                <ul class="flex flex-col items-center justify-center w-[250px] h-[210px] absolute top-[90px] left-[100px] bg-[#F7B500] rounded-[16px] ml-[10px] menu  " style="box-shadow: 0px 0px 10px rgba(0,0,0,0.7)">
                    <li class="w-[100%] h-[40px] flex items-center justify-center   relative"  ><a href="#" class="absolute w-auto link">reference</a></li>
                    <li class="w-[100%] h-[40px] flex items-center justify-center   relative "><a href="#presentation" class="absolute w-auto link">presentation</a></li>
                    <li class="w-[100%] h-[40px] flex items-center justify-center   relative"><a href="#description" class="absolute w-auto link">description</a></li>
                    <li class="w-[100%] h-[40px] flex items-center justify-center   relative"><a href="#profils" class="absolute w-auto link">profils</a></li>
                </ul>
            </div>
            <div class="title border-r   border-gray-200 sm:mr-[0px] mr:-[15px]">
                <h1 class="uppercase f1:text -[40px] pr-[30%] sm:text-[30px] text-[20px] ">LogicPlag</h1>
                <p class="pr-[8px] mt-[-10px]">Intelligent Plagiarism Detection<p>
            </div>
            <div class="pl-[10px]">
                <p class="flex flex-col text-[12px] text-gray-200">
                    <span>Intelligent</span>
                    <span>Plagiarism</span>
                    <span>Detection</span>
                </p>
            </div>
        </div>
        <div class="lg:flex lg:w-[60%] lg:items-center lg:justify-center lg:h-full ml-[-5%] hidden  ">
            <a href="#" class="w-auto mr-[4%] font-serif font-bold text-[15px]  inline  relative link">References </a>
            <a href="#presentation"
                class="w-auto mx-[4%] font-serif font-bold text-[15px]  inline  relative link">Presentation </a>
            <a href="#description"
                class="w-auto mx-[5%] font-serif font-bold text-[15px]  inline  relative link">Description </a>
            <a href="#profils" class="w-auto ml-[5%] font-serif font-bold text-[15px]  inline  relative link">Profils</a>
        </div> 
        <a href="#implementation"
            class="md:w-[170px]  f4:w-[150px] w-[100px] h-[50px] px-[20px] sm:mr-[30px] ml-[56px] sm:ml-[0px]   font-serif font-bold text-[15px] flex justify-center items-center bg-[#F7B500] text-white relative   rounded-[10px] animation "><i
                class="fas fa-star text-[0px] f4:text-[12px]"></i><i class="fas fa-star f4:text-[12px] text-[0px] "></i> <span class="mx-[8px] flex w-auto "> StartNow
            </span><i class="fas fa-star text-[0px] f4:text-[12px]"></i><i class="fas fa-star text-[0px] f4:text-[12px]"></i></a>
    </header>
    <!-- div contenant l'image et la description -->
    <div class="relative f10:w-full h-[350px] f4:h-[400px] mt-[100px] w-full"
        style=" background: url(/static/image/ai2.jpg);  background-repeat: no-repeat; background-size: cover;">
        <div class="h-full w-full flex items-start relative flex-col" style="background-color: rgba(0,0,0,0.2); ">
            <h1
                 class="my-[30px] mx-[60px] text-white lg:text-[35px]  md:text-[28pxpx] sm:text-[25px] flex justify-center flex-col ">
               APPLICATION DE DETECTION DE PLAGIAT DANS LES DOCUMENTS <span>STRUCTURES</span>
            </h1>
            <div
                style="margin-left: 60px; margin-top: -30px; margin-bottom: 20px; width: 100px; height: 3px; background-color: white; border-radius: 10px;">
            </div>
            <p style="margin-left: 60px; display: flex; flex-direction: column; color: white; font-family: sans-serif;">
                Spécialisé dans les documents structurés,  <span> LogicPlag est un outil clé pour garantir l'originalité.</span>
                Il facilite la détection efficace du plagiat.</p>
        </div>

    </div>
    <!-- gestion de la presentation -->
    <section id="presentation" class="w-[90%] h-auto  flex justify-center items-center flex-col f2:mt-[150px]  mb-[40px]   f7:mt-[80px] mt-[50px] ">
        <div class="text-[35px] font-sans mb-[40px] text-[#F7B500] font-bold ">
            <h1>PRESENTATON GENERALE</h1>
            <div class="content-icon">
                <span class="before"></span>
                <i class="fas fa-table text-[#FCEA10]"></i>
                <span class="after"></span>
            </div>
        </div>
        <div class="rounded-lg mt-[30px] w-[100%] h-auto flex justify-center items-center flex-col bg-white py-2" style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;">
            <div class="flex justify-center items-center w-full h-full py-2 px-5   flex-col sm:flex-col md:flex-row ">
                <div class="w-[100%] h-[350px]  rounded-[7px] mx-[5%]   sm:ml-[30px] sm:w-[95%] sm:h-[350px] md:h-[450px]  lg:h-[350px]  ">
                    <img src="/static/image/ai3.png" alt="" class="w-full h-full rounded-[7px] object-cover">
                </div>
                <div class="w-[100%] mt-[30px] flex justify-end flex-col sm:mt-[30px] sm:w-[95%]  sm:ml-[-20px] md:mt-[-30px] ">
                    <!-- Titre stylisé (lettres capitales en bleu, reste en blanc) -->
                    <p class="py-[0px] px-[20px] flex justify-start items-baseline">
                        <span class="text-[45px] text-[#F7B500] font-bold font-sans">L</span>
                        <span class="font-sans text-lg  font-bold ">ogic</span>
                        <span class="text-[45px] text-[#F7B500] font-bold font-sans">P</span>
                        <span class="font-sans text-lg  font-bold">lag</span>
                    </p>
                    
                    <p class="py-[0px] px-[20px] flex justify-end items-center text-gray-500  text-[15px] font-sans mb-[10px]">
                        LogicPlag est une application novatrice pour la détection du plagiat dans les documents structurés. 
                        Elle analyse l'organisation interne et le contenu textuel. Cette approche permet d'identifier des 
                        similitudes structurelles et de fond qui pourraient échapper à une analyse superficielle. 
                        L'objectif principal est de fournir une évaluation précise et complète de l'originalité des travaux
                    </p>
                      
                    <p class="py-[0px] px-[20px] flex justify-end items-center text-gray-500  text-[15px] font-sans mb-[10px]">
                        Son fonctionnement repose sur 
                        des algorithmes sophistiqués. Ils examinent le texte et la structure des documents.
                    </p>
                    <p class="py-[0px] px-[20px] flex justify-end items-center text-gray-500  text-[15px] font-sans mb-[10px]">
                        Spécialisé dans les documents structurés, LogicPlag est 
                        un outil clé pour garantir l'originalité. Il facilite la détection efficace du plagiat.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <section id="implementation" class="w-[90%] h-auto  flex justify-center items-center flex-col f2:mt-[150px]  mb-[40px]   f7:mt-[80px] mt-[50px] ">
        <div class="text-[35px] font-sans mb-[40px] text-[#F7B500] font-bold ">
            <h1>IMPLEMENTATION EN PROLOG</h1>
            <div class="content-icon">
                <span class="before"></span>
                <i class="fas fa-table text-[#FCEA10]"></i>
                <span class="after"></span>
            </div>
        </div>
        {% if error %}
        <div class="error-box">
            <p>Erreur : {{ error }}</p>
        </div>
        {% endif %}
        <div class="relative grid grid-cols-2 gap-16 bg-white  rounded-xl p-5" style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;">
            <form method="POST" action="/compare" class="flex flex-col  justify-center items-center   rounded-lg mt-[30px] w-[100%] min-h-[250px]   bg-[#FFF8E1] p-4">
                <div class="flex flex-col gap-6 items-center">
                    <h2 class=" font-semibold">SAISSEZ VOS TEXTE</h2>
                    <div class="flex flex-col gap-2">
                        <label for="text1" class=" font-semibold">Premier texte</label>
                        <textarea class=" rounded-lg focus:outline-none p-2 focus:ring-2 ring-[#F7B500]" name="texte1" id="text1" cols="50" rows="3" required></textarea>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="text2" class=" font-semibold">Deuxieme texte</label>
                        <textarea class=" rounded-lg focus:outline-none p-2 focus:ring-2 ring-[#F7B500] " name="texte2" id="text2" cols="50" rows="3"></textarea>
                    </div>
                    <button id="submit" type="submit" class="cursor-pointer text-white px-8 py-2 bg-[#F7B500]  rounded-lg">Valider</button>
                </div>
            </form>
            {% if result is not none %}
            <div class="w-full flex flex-col gap-8 items-center mt-7t">
                <h2 class=" font-semibold">LE TAUX DE SIMILARITE DE VOS TEXTE SONT RESPECTIVEMENT</h2>
                <div class="w-full">
                    <h2 class=" font-semibold">Taux de plagiat en %</h2>
                    <div class="flex items-center gap-2">
                        <div class="w-[85%]  h-3 rounded-xl bg-[#FFF8E1] ">
                            <div class="w-[70%] h-3 rounded-xl  plagiat-faux " data-score={{result}} >
                            </div>
                        </div>
                        <span class=" font-semibold">{{"%.2f"|format(result)}}%</span>
                    </div>
                </div>
                <div class="w-full">
                    <h2 class=" font-semibold">Taux unique en %</h2>
                    <div class="flex items-center gap-2">
                        <div class="w-[85%]  h-3 rounded-xl bg-[#FFF8E1] ">
                            <div class="w-[30%] h-3 rounded-xl  plagiat-vrai">
                            </div>
                        </div>
                        <span class=" font-semibold">{{(100-result)}}%</span>
                    </div>
                </div>

                <div class="flex ml-[-20px] mt-[20px] align-baseline">
                    <div class = "w-[200px] h-[200px] bg-[#FFF8E1] overflow-auto rounded-lg div-text1 p-2">{{text1}}</div>   
                    <div class = "w-[200px] ml-[40px] h-[200px] bg-[#FFF8E1] rounded-lg overflow-auto div-text2 p-2">{{text2}}</div>     
                </div>
            </div>
            {% endif %}
        </div>
    </section>

    <!-- gestion de tout les informations qui provienne du rapport -->

    <section id="description" class="w-[90%] h-auto flex justify-center items-center flex-col my-[60px] ">
        <div class="text-[35px] font-sans mb-[40px] text-[#F7B500] font-bold ">
            <span>DESCRIPTION DETAILLE</h1>
                <div class="content-icon">
                    <span class="before"></span>
                    <i class="fas fa-table text-[#FCEA10]"></i>
                    <span class="after"></span>
                </div>
        </div>
        <!-- premier block realiser  -->
        <div class="mt-[30px] w-[100%] h-auto flex flex-col p-[30px] rounded-[20px] "
            style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3);">
            <p class=" py-[10px] px-[20px] mb-5">
                <span class="text-[40px] text-[#F7B500] font-sans">01</span>
                <span class="text-[30px] font-sans text-[#F7B500] relative">PREREQUIS</span>

            </p>
            <div class="flex   flex-col justify-center items-start pl-[50px] text-[15px] text-gray-500 font-sans  ">
                <li class="list-disc font-bold text-gray-500 font-sans"> Matériels et outils nécessaires </li>
                <p class="pl-[10px] flex justify-center items-start ">- Un ordinateur avec Python et swi-prolog installé Installation python swi-prolog</p>
                <p class="pl-[10px] flex justify-center items-start">- Un editeur de texte ;</p>
                <p class="pl-[30px] flex justify-center items-start">* Vscode Telechargement vscode</p>
                <li class="list-disc font-bold text-gray-500 font-sans">Connaissances préalables </li>
                <p class="pl-[10px] flex justify-center items-start">- Concepts de base en programmation Prolog</p>
                <p class="pl-[10px] flex justify-center items-start">- Concepts de base en programmation python framework (JFLACK)  </p>
                <p class="pl-[10px] flex justify-center items-start">- Concepts de base en programmation web  </p>

            </div>
            
        </div>
        <div class="mt-[30px] w-[100%] h-auto flex flex-col p-[30px] rounded-[20px] "
            style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3);">
            <p class=" py-[10px] px-[20px] mb-5">
                <span class="text-[40px] text-[#F7B500] font-sans">01</span>
                <span class="text-[30px] font-sans text-[#F7B500] relative">CONCEPTION DES TEXTES EN ARBRES SYNTAXIQUE</span>
                <img src="../static/image/arbre_syntaxique.jpg"/ class="w-full">
            </p>
            
        </div>

        <div class="mt-[30px] w-[100%] h-auto flex flex-col p-[30px] rounded-[20px] "
            style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3);">
            <p class=" py-[10px] px-[20px] mb-5">
                <span class="text-[40px] text-[#F7B500] font-sans mr-[3px]">02</span>
                <span class="text-[30px] font-sans text-[#F7B500] relative"> IMPLEMENTATON D'UNE MESURE SIMILARITE</span>

            </p>
            <div class="flex   flex-col justify-center items-start pl-[50px] text-[15px]  font-sans  ">
                <div class="flex flex-col gap-4">
                    <p>
                        Nous avons utilise La similarité cosinus , elle est une mesure utilisée pour déterminer à quel point deux vecteurs 
                        sont similaires. Dans notre contexte ( détection de plagiat de documents structurés) , elle nous 
                        permet de comparer la similarité entre les représentations vectorielles de deux documents.                    </p>
                    <div>
                        <h2 class="font-semibold text-[30px]">Mode de fonctionnement</h2>
                        <img class="mt-7" src="../static/image/pre_vec.jpg"/>
                        <img class="mt-2" src="../static/image/for_cos.jpg"/>
                        <h2 class="font-semibold text-[30px]">Avantage de cette similarite</h2>
                        <img class="mt-2" src="../static/image/avan_cos.jpg"/>

                    </div>
                </div>
               
            </div>
            
        </div>
        <div class="mt-[30px] w-[100%] h-auto flex flex-col p-[30px] rounded-[20px] "
            style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3);">
            <p class=" py-[10px] px-[20px] mb-5">
                <span class="text-[40px] text-[#F7B500] font-sans">03</span>
                <span class="text-[30px] font-sans text-[#F7B500] relative"> DEDUCTION DU POURCENTAGE DE PLAGIAT LOGIQUE </span>
                
            </p>
            <img src="../static/image/ded_pou.jpg" class="ml-5 w-[800px]"/>
        
        </div>

    </section>
    <!-- gestion de la div qui contient les utilisateurs -->
    <section id="profils" class="w-[90%] h-auto flex justify-center items-center flex-col my-[40px]">
        <div class="text-[35px] font-sans mb-[40px] text-[#F7B500] font-bold ">
            <h1>MEMBRE DE L'EQUIPE</h1>
            <div class="content-icon">
                <span class="before"></span>
                <i class="fas fa-table text-[#FCEA10]"></i>
                <span class="after"></span>
            </div>
        </div>
        <div class="card-wrapper w-full h-auto flex justify-between items-center flex-wrap">
            <div class="content-info-profils f12:w-[calc(100%/4)] w-full  f11:w-[calc(100%/6)] h-[250px] rounded-[10px] bg-white my-[20px] mr-[10px] cursor-pointer flex items-center justify-end flex-col relative overflow-hidden "
                style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;background: url('/static/image/laurie.jpg'); background-attachment: fixed ; background-position: center; background-size: cover; ">
                <div class="content-info w-full flex flex-col justify-center items-center h-[50px] absolute   " style="background-color: rgba(255, 238, 238, 0.3);">
                    <h1 class="font-sans font-bold mt-[40px] mb-[5px] ">DONGMO LAURIE</h1>   
                    <span class="w-[50px] h-[4px] rounded-[12px] bg-black  opacity-1 translate-y-[20px] name"></span>
                    <h1 class="font-sans font-bold my-[8px]  opacity-1 titre  translate-y-[20px]">Expert backend</h1>
              
                </div>
            </div>
            <div class="content-info-profils f12:w-[calc(100%/4)] w-full f11:w-[calc(100%/6)] h-[250px] rounded-[10px] bg-white my-[20px] mr-[10px] cursor-pointer flex items-center justify-end flex-col relative overflow-hidden "
                style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;background: url('/static/image/etoile.PNG'); background-attachment: fixed ; background-position: center; background-size: cover; ">
                <div class="content-info w-full flex flex-col justify-center items-center h-[50px] absolute   " style="background-color: rgba(255, 238, 238, 0.3);">
                    <h1 class="font-sans font-bold mt-[40px] mb-[5px] ">MATJABO ETOILE</h1>   
                    <span class="w-[50px] h-[4px] rounded-[12px] bg-black  opacity-1 translate-y-[20px] name"></span>
                    <h1 class="font-sans font-bold my-[8px]  opacity-1 titre  translate-y-[20px]">Expert frontend</h1>
              
                </div>
            </div>
            <div class="content-info-profils f12:w-[calc(100%/4)] w-full f11:w-[calc(100%/6)] h-[250px] rounded-[10px] bg-white my-[20px] mr-[10px] cursor-pointer flex items-center justify-end flex-col relative overflow-hidden "
                style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;background: url('/static/image/fadila.jpg'); background-attachment: fixed ; background-position: center; background-size: cover; ">
                <div class="content-info w-full flex flex-col justify-center items-center h-[50px] absolute   " style="background-color: rgba(255, 238, 238, 0.3);">
                    <h1 class="font-sans font-bold mt-[40px] mb-[5px] ">NGANKOUO FADILA</h1>   
                    <span class="w-[50px] h-[4px] rounded-[12px] bg-black  opacity-1 translate-y-[20px] name"></span>
                    <h1 class="font-sans font-bold my-[8px]  opacity-1 titre  translate-y-[20px]">Charge du PowerPoint</h1>
              
                </div>
            </div>
            <div class="content-info-profils f12:w-[calc(100%/4)] w-full f11:w-[calc(100%/6)] h-[250px] rounded-[10px] bg-white my-[20px] mr-[10px] cursor-pointer flex items-center justify-end flex-col relative overflow-hidden "
                style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;background: url('/static/image/broli.jpg'); background-attachment: fixed ; background-position: center; background-size: cover; ">
                <div class="content-info w-full flex flex-col justify-center items-center h-[50px] absolute   " style="background-color: rgba(255, 238, 238, 0.3);">
                    <h1 class="font-sans font-bold mt-[40px] mb-[5px] ">TIAKO BROLI</h1>   
                    <span class="w-[50px] h-[4px] rounded-[12px] bg-black  opacity-1 translate-y-[20px] name"></span>
                    <h1 class="font-sans font-bold my-[8px]  opacity-1 titre  translate-y-[20px]">ASSISTANT FRONTEND</h1>
              
                </div>
            </div>
            <div class="content-info-profils f12:w-[calc(100%/4)] f11:w-[calc(100%/6)] w-full h-[250px] rounded-[10px] bg-white my-[20px] mr-[10px] cursor-pointer flex items-center justify-end flex-col relative overflow-hidden "
                style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3) ;background: url('/static/image/daniel.jpg'); background-attachment: fixed ; background-position: center; background-size: cover; ">
                <div class="content-info w-full flex flex-col justify-center items-center h-[50px] absolute   " style="background-color: rgba(255, 238, 238, 0.3);">
                    <h1 class="font-sans font-bold mt-[40px] mb-[5px] ">LEUSSA DANIEL</h1>   
                    <span class="w-[50px] h-[4px] rounded-[12px] bg-black  opacity-1 translate-y-[20px] name"></span>
                    <h1 class="font-sans font-bold my-[8px]  opacity-1 titre  translate-y-[20px]">ASSITANT FRONTEND</h1>
              
                </div>
            </div>
           
           
           
          
           
        </div>
    </section>
    <footer class=" w-full h-[60px] bg-[#F7B500] ">
        <!-- <div class="bg-blue-500 sm:bg-green-500 md:bg-red-500 lg:bg-yellow-500 xl:bg-purple-500 2xl:bg-pink-500"> Contenu ici </div> -->
    </footer>
    <script src="../static/js/app.js"></script>
</body>
<!-- git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/laurinedongmo/formulaireReact.git
git push -u origin main -->

</html>